{#
/**
 * @file
 * Default theme implementation for gliderjs.
 *
 * Available variables:
 * - slider_id: The slider container element id.
 * - rows: The views rows to use for the carousel.
 *
 * @see template_preprocess_gliderjs()
 *
 * @ingroup themeable
 */
#}

<div class="glider-contain">
  <div id="{{ slider_id }}" class="glider" data-gliderjs-module>
    {% for row in rows %}
      {{ row }}
    {% endfor %}
  </div>
  {% if show_arrows %}
    <button aria-label="{{ 'Previous'|t }}" class="{{ slider_id }}-prev glider-prev">«</button>
    <button aria-label="{{ 'Next'|t }}" class="{{ slider_id }}-next glider-next">»</button>
  {% endif %}
  <div role="tablist" class="{{ slider_id }}-dots glider-dots"></div>
</div>
